.Item{
    color: var(--dark-1);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    &Inside{
        display: flex;
        flex-direction: column;
    }
}
.Text {
    margin-bottom: 0.5rem;
    // margin: 0;   
    font-size: 1rem;
    // font-size: var(--h4-size);
    font-weight: bold;
}

.MarginBetweenItem{
    margin: 0 2rem;
}

.Active{
    // border-bottom:solid var(--primary-color) .5rem ;
    // border-radius:10px 10px 10px 10px;
    &::after{
        display: inline-block;
        margin-top: 0.2rem;
        content: "";
        background-color: var(--primary-color);
        height: 0.5rem;
        width: 100%;
        border-radius: 0.5rem;
    }
    
}


.VLine{
    display: none;
    width: 0.25rem;
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.HLine{
    margin-top: 0.5rem;
    display: block;
    height: 0.25rem;
    background-color:var(--primary-color);
    border-radius: 0.5rem;
}