.Landing {
  &Container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &Img {
    width: 40rem;
    margin: 0 auto;
    // z-index: 0;
    padding-top: 2rem;
    // width: 90%;
    //  width: 50rem;
  }
  &Info {
    // padding: 0rem 2rem;
    margin: 0 auto;
    min-height: 12rem;
    &Text {
      color: var(--dark-1);
      font-size: var(--h1-size);
      margin-bottom: var(--spacer-1);
      font-weight: bold;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // order:1 ;
    // height: 100%;
    display: flex;
  }
}

.Btn {
  &Stretch {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color-dark);
    padding: 1rem;
    font-size: var(--h4-size);
    font-weight: bold;
    border-radius: 0.5rem;
    color: white;
  }
}
